*{
margin: 0px;
padding: 0px;
}
li{
	list-style: none;
}
/* 版心 */
.w{
	width: 1200px;
	margin:  auto;
}
.header{
	height: 42px;
	/* background-color: pink; */
	margin: 30px auto;
	}
.logo{
	float: left;
	margin-right: 60px;
}
.nav{
	float: left;
}
.nav ul li{
	float: left;
}
.nav ul li a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 18px;
	color: #3F4243;
}
.nav ul li a:hover{
	border-bottom: 3px solid #0494F0;
}
.search{
	float: left;
	margin-left: 70px;
}
.search button{
	float: left;
	border: none;
	width: 50px;
	height: 42px;
	background-image: url(../img/搜索.png);
	background-size: 100% 100%;
	background-repeat: repeat;
}
.search input{
	float: left;
	border: 1px solid #000000;
	width: 340px;
	height: 40px;
	border-right: none;
	padding-left: 20px;
}
.user{
	float: left;
	margin-left: 30px;
	font-size: 14px;
}
.banner{
	height: 420px;
	background: url(../img/学成在线.png) #111669 no-repeat top center;
}
.subnav{
	float: left;
	width: 150px;
	height: 420px;
	background-color: rgba(13,13,73, .3);
	padding: 0 20px;
}
.subnav a{
	color:#E9E5F9;
	text-decoration: none;
	font-size: 14px;
}
.subnav a:hover{
	color: #AA0000;
}
.subnav li{
	height: 45px;
	line-height: 45px;
}
.subnav span{
	float: right;
}
.cource {
	float: right;
	width:228px;
	height: 300px;
	margin-top: 50px;
	background-color: #FFFFFF;
}
.cource-hd{
	height: 48px;
	background-color: #94CBE9;
	color: #EFFBFC;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 48px;
}
.cource-bd{
	padding: 0 15px;
}
.cource-bd ul{
	padding-top: 10px;
}
.cource-bd li{
	height: 50px;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}
.cource-bd li h4{
	font-size: 16px;
	color: #4e4e4e;
}
.cource-bd li p{
	font-size: 12px;
	color: #BCBEBB;
}
.all{
	display: block;
	height: 38px;
	border: 1px #708CB4 solid;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 38px;
	margin-top: 10px;
}
