*{
margin: 0px;
padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: #F3F5F7;

}
/* 版心 */
.w{
	width: 1200px;
	margin:  auto;
}
.clearfix::before,
.clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
}
.clearfix{
	*zoom: 1;
}
.header{
	height: 42px;
	/* background-color: pink; */
	margin: 30px auto;
	}
.logo{
	float: left;
	margin-right: 60px;
}
.nav ul li{
	float: left;
}
.nav ul li a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 18px;
	color: #3F4243;
}
.nav ul li a:hover{
	border-bottom: 3px solid #0494F0;
}
.search{
	float: left;
	margin-left: 70px;
}
.search button{
	float: left;
	border: none;
	width: 50px;
	height: 42px;
	background-image: url(../img/搜索.png);
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: repeat;
}
.search input{
	float: left;
	border: 1px solid #000000;
	width: 340px;
	height: 40px;
	border-right: none;
	padding-left: 20px;
	outline: none;
}
.user{
	float: left;
	margin-left: 30px;
	font-size: 14px;
}
.banner{
	height: 420px;
	background: url(../img/学成在线.png) #111669 no-repeat top center;
}
.subnav{
	float: left;
	width: 150px;
	height: 420px;
	background-color: rgba(13,13,73, .3);
	padding: 0 20px;
}
.subnav a{
	color:#E9E5F9;
	text-decoration: none;
	font-size: 14px;
}
.subnav a:hover{
	color: #AA0000;
}
.subnav li{
	height: 45px;
	line-height: 45px;
}
.subnav span{
	float: right;
}
.cource {
	float: right;
	width:228px;
	height: 300px;
	margin-top: 50px;
	background-color: #FFFFFF;
}
.cource-hd{
	height: 48px;
	background-color: #94CBE9;
	color: #EFFBFC;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 48px;
}
.cource-bd{
	padding: 0 15px;
}
.cource-bd ul{
	padding-top: 10px;
}
.cource-bd li{
	height: 50px;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}
.cource-bd li h4{
	font-size: 16px;
	color: #4e4e4e;
}
.cource-bd li p{
	font-size: 12px;
	color: #BCBEBB;
}
.all{
	display: block;
	height: 38px;
	border: 1px #708CB4 solid;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 38px;
	margin-top: 10px;
}
.good{
	height: 60px;
	background-color: #FCFEFC;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2) ;
}
.good h3{
	float: left;
	margin-left: 16px;
	margin-right: 16px;
	font-size: 16px;
	color: #00a4ff;
	line-height: 60px;
}
.good-item {
	float: left;
	font-size: 16px;
	color: #ccc;
}
.good-item a{
	font-size: 16px;
	line-height:60px ;
	color: #000000;
	margin: 0 30px;
	text-decoration: none;
}
.rightgood{
	float: right;
	margin-right: 30px;
	line-height: 60px;
	font-size: 14px;
	color: #2C91D9;
}
.goodbox{
	margin-top: 15px;
}
.goodbox .hot {
	width: 40px;
	height: 40px;
	position: absolute;
}
.box-top{
	height: 60px;
	line-height: 60px;
}
.box-top h3{
font-size: 20px;
float: left;
}
.box-top a{
font-size: 12px;
color: #A5A5A5;
float: right;
}
.box-bottom{
	width: 1215px;
}
.box-bottom li{
	position: relative;
	float: left;
	width: 228px;
	height: 270px;
	margin-right:15px ;
	margin-top: 15px;
	background-color:#FFFFFF;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.box-bottom li img{
	width: 100%;
}
.box-bottom li h4{
	margin: 20px 20px 20px 25px; 
	font-size: 14px;
}
.box-bottom li p{
	 margin: 0 27px;
	font-size: 12px;
	
}
.box-bottom li p span{
	color: #FF782F;
}
.footer{
	height: 380px;
	padding-top: 35px;
	background-color: #ffffff;
}
.footer-left{
	float: left;
	width: 420px;
	height: 148px;
}
.footer-left p{
	color: #6C91B4;
	width: 420px;
	height: 32px;
	font-size: 12px;
	margin: 20px 0 15px 0;
}
.footer-left .app{
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
}
.footer-rigth{
	width: 540px;
	height: 131px;
	float: right;
}
.footer-rigth dl{
	float: left;
	margin-left: 100px;
}
.footer-rigth dl dt{
	
	    font-size: 16px;
	    color: #333;
	    margin-bottom: 5px;
	
}
.footer-rigth  a{
	    font-size: 12px;
	    color: #333;
}
.footer-rigth  a:hover{
		color: #0055ff;
}
.sidenav{
	position: fixed;
	left: 50%;
	top: 100px;
	margin-left: -720px;
	width: 100px;
	height: 400px;
	background-color: pink;
}